body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.container {
  margin-top: 100px;
}

h1 {
  color: #ff6600;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background: #ff6600;
  color: white;
  border: none;
  cursor: pointer;
}

a {
  display: block;
  margin-top: 20px;
  color: green;
}
